
.textoPrincipal {
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    initial-letter: 4;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #333;
    
}
